footer, nav{
    background-color: aqua;
    color: rgb(255, 141, 2);
    padding: 30px;
}
footer p {
    font-size: 20px;
    margin: 10px;
}
a:hover{
    background-color: black;
    color: slategrey;
    padding: 5px, 10px;
}
img{
    width: 40%;
}
*{border: 2px solid blue;}
body{
    text-align: center;
}
h1{
    text-align: center;
}
footer{
    text-align: left;
}
a {
    padding: 10px 20px;
}